.cardimage{
    width:20rem;
    height:18rem;
    object-fit: cover;
    padding-top:0.6rem;
    margin-bottom:2rem;

}
.heading{
    color:green;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4rem;
    height:9rem;
    
}
.card{
    width: 27rem;
    height: 40rem;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 0.5rem;
    float:left;
    text-align:center;
    margin:2%;
    z-index: 10;
    background-color: white;

}
.credits{
    font-weight:700;
    font-size: 1.5rem;
    color:#C21481;

}
.semester{
    font-weight:700;
    font-size: 1.5rem;
    color:#C21481;
    text-transform: uppercase;

}

.classroom{
    font-weight:700;
    font-size: 1.5rem;
    color:#C21481;

}
