*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
      font-size: 56.25%;
      scroll-behavior: smooth;
  }
}

@media (max-width: 56.25) {
  html {
      font-size: 50%;
      scroll-behavior: smooth;
  }
}

@media (max-width: 37.5em) {
  html {
      font-size: 30%;
      scroll-behavior: smooth;
  }
}

@media (min-width: 112.5em) {
  html {
      font-size: 75%;
      scroll-behavior: smooth;
  }
}


body {
  margin: 0;
  font-family:'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.7;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





